<a href="https://colab.research.google.com/github/yongj01/Final-assignment-HHA-506/blob/main/FINAL_FINAL_JY_JUPYTERNOTEBOOK_1_IPYNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
import plotly.express as px

print('cell successful')

In [ ]:
# This chosen dataset illustrates the total number of child victims in each state in the United States.  The victims are categorized in columns according to their integral age including unborn, and those less than one year of age.  The rates of child victims per 1000 children of each age are also listed. 

url1 = 'https://healthdata.gov/resource/xn3e-yyaj.csv'

This chosen dataset illustrates the total number of child victims in each state in the United States.  The victims are categorized in columns according to their integral age including unborn, and those less than one year of age.  The rates of child victims per 1000 children of each age are also listed.

In [ ]:
df1 = pd.read_csv(url1)
df1

_1 is Age <1 and 1_1 is Age 1

In [ ]:
# MISSING DATA
# df1.isnull() returns all the columns with missing data
df1.isnull()

In [ ]:
null = df1.isna().sum()/len(df1)
null[null > 0].sort_values()

In [ ]:
df1.head(5)

In [ ]:
df1.tail(5)

In [ ]:
df1.sample(5)

In [ ]:
# This shows the total victims in each state

df1[['state', '_total_victims']].value_counts()

In [ ]:
# This group adds the victims of ages 1,2, and 3

df1['age_1_3'] = df1['_1_1'] + df1['_2'] + df1['_3']
df1

In [ ]:
# This group adds the victims of ages 4,5, and 6

df1['age_4_6'] = df1['_4'] + df1['_5'] + df1['_6']
df1

In [ ]:
df1.shape

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
# This shows the mean, standard deviation and quarterly percentiles of victims in all states

df1['_total_victims'].describe()

In [ ]:
# The "National" or total value of states was removed to provide a more comparable bar chart 

df1 = df1[df1['state'] != 'National']

In [ ]:
# A bar chart is visualized here with the total victims in each state
# The "National" or total value of states was removed to provide a more comparable bar chart 

sns.barplot(data=df1, x='state', y="_total_victims")
sns.set(rc={'figure.figsize':(20,20)})
vis1 = sns.barplot(x='state', y='_total_victims', data=df1)
vis1.set_xticklabels(vis1.get_xticklabels(), rotation=90)

California, New York, and Texas had the highest number of child victims
This is probably due to the high population and density in these states

In [ ]:
df1 = df1[df1['state'] != 'National']

In [ ]:
# This 3D visualization compares the unborn victims to total victims for each state
# Interestingly, South Carolina has the highest number of unborn victims, but not the highest total victims
# As expected, California, New York, and Texas has the highest number of total victims

fig = px.scatter_3d(df1, x='state', y='_unborn', z='_total_victims', color='state')
fig.show()

Transformation 1

In [ ]:
# This transformation separates states into categories of high, medium and low number of total victims
def rule1(row):
    if row['_total_victims'] >= 10000 :
        return 'HIGH'
    elif row['_total_victims'] < 10000:
        return 'MEDIUM'
    elif row['_total_victims'] < 5000:
        return 'LOW'

In [ ]:
df1['_total_victims_mod2'] = df1.apply(rule1, 1)

In [ ]:
# This chart shows each state with the total victims and the category

df1[['_total_victims', "_total_victims_mod2", 'state']]

Transformation 2

In [ ]:
# This transformation categorizes states according to their region
# Here I am assigning individual states to their respective regions

westcoaststates = ['California', 'Oregon', 'Washington', 'Nevada', 'Arizona', 'Alaska']
eastcoaststates = ['New York', 'Maine', 'Massachusetts', 'Connecticut', 'New Hampshire', 'Vermont', 'New Jersey', 'North Carolina', 'South Carolina']
centralstates = ['Illinois','Indiana', 'Ohio', 'Iowa', 'Oklahoma', 'Minnesota', 'Kansas','Wisconsin', 'Michigan']
mountainstates = ['Wyoming','Montana', 'Colorado', 'Idaho','New Mexico','Nebraska', 'Utah']
southernstates = ['Texas', 'Florida', 'Alabama', 'Louisiana', 'Georgia', 'Louisiana', 'Missouri', 'Puerto Rico', 'Virginia']

In [ ]:
def rule2(row):
    if row['state'] in westcoaststates:
        return 'WestCoast'
    elif row['state'] in eastcoaststates:
        return 'EastCoast'
    elif row['state'] in centralstates:
        return 'Central'
    elif row['state'] in southernstates:
        return 'South'
    elif row['state'] in mountainstates:
        return 'Mountain'
    else:
        return row ['state']
df1['rule2_mod'] = df1.apply(rule2, 1)

In [ ]:
df1 = df1[df1['state'] != 'Reporting States']

In [ ]:
# This shows each state with its respective region with the transformation
df1[['rule2_mod', "state"]]